<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)"
         name="AmazingTodoContext"
         connectionString="Server=673241e4-66f6-4416-9dd3-a5690081ba69.sqlserver.sequelizer.com;Database=db673241e466f644169dd3a5690081ba69;User ID=dcnmjtjqsjzvwzjr;Password=37WwRng5xLYuSandEC6qoTVusk6aX2MNu7agTsC5aJeR3b3Si2sx8fAikAeEpggD;" />
  </connectionStrings>
</configuration>

